html{
    font-size: 62.5%;
}
body{
    background-color: #000000;
    overflow: hidden;
}
main::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65% ) no-repeat;

}
main .personagem{
    display: none;
    height: 100vh;
}

main .personagem.selecionado{
    display: block;
}
main .personagem .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conteudo{
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}
.conteudo .logo{
    background-image: url("../assets/one-piece-logo.png");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 35px;
}
.conteudo .nome-personagem{
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.conteudo .descricao{
    font-size: 1.6rem;
    font-family: "Rubik";
    line-height: 24px;
}
.botoes{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 180px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.botoes .botao{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}
.botoes .botao img{
    border-radius: 50%;
}
.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}